<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MinnSec" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  </head>

  <body>
    <!-- Alerts and Notices -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Menu Bar -->
    <header id="menu-bar">
      <div class="navbar-logo">
        <!-- Logo -->
        <%= link_to image_tag('logo.png', alt: 'Your Logo', class: 'logo'), root_path %>
      </div>
      
      <!-- Static text next to logo -->
      <div class="navbar-text">
        MinnSec
      </div>

      <nav class="navbar">
        <ul>
          <li><%= link_to 'Login', new_user_session_path unless user_signed_in? %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path unless user_signed_in? %></li>
          <li><%= link_to 'Admin Dashboard', admin_root_path if user_signed_in? && current_user.admin? %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete if user_signed_in? %></li>
        </ul>
      </nav>
    </header>


    <!-- Main Content -->
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
