<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "MinnSec" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  </head>

  <body>
    <!-- Alerts and Notices -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Menu Bar -->
    <header id="menu-bar">
      <div class="navbar-logo">
        <!-- Logo -->
        <%= link_to image_tag(asset_path('minnsec-logo-name-small.png'), alt: 'MinnSec Logo', class: 'logo'), root_path %>
        <% if user_signed_in? %>
          <p class="username-display">Welcome Back, <%= current_user.display_name %>!</p>
        <% end %>
      </div>

      <!-- Hamburger icon for mobile -->
      <button class="navbar-toggler" id="navbar-toggler" aria-label="Toggle navigation">
        &#9776;
      </button>

      <!-- Navigation Links -->
      <nav class="navbar" id="navbar-links">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Admin', admin_root_path if current_user.admin? %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- JavaScript to handle the mobile menu toggle -->
    <script>
      document.getElementById('navbar-toggler').addEventListener('click', function() {
        var navbar = document.getElementById('navbar-links');
        navbar.classList.toggle('active'); /* Toggle the "active" class to show/hide the menu */
      });
    </script>
  </body>
</html>
